body{
    background-color: black
}

h1 {
    color: 255, 203, 5; /* rgb value */
    text-align: center;
}

#big_div{ 
    color: white;
    border: 3px solid 2E549B; /* hex value */
    margin: 30px;
    padding: 20px;
}

.pokemon_name {
    color: white;
    text-align: center;
    font-size: 50;
    font-weight: bold;
    margin: 10px;
}

.sub_div {
    color: white;
    display: flex;
    flex-wrap: nowrap;

}

img {
    width: 250;
    padding-right: 50px;
}

#special {
    font-weight: cold
    color: rgb(255, 203, 5); 
    /* rgb value */
}